@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/Content/materialize")

    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Start page", "Index", "Home")</li>
                        <li>@Html.ActionLink("Application Info", "About", "Home")</li>
                        <li>@Html.ActionLink("Our contacts", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@

<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css/materialize")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <nav class="nav-extended teal">
        <div class="nav-wrapper teal">
            <a href="#" class="brand-logo">Social Network</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            @Html.Partial("_LoginPartial")
            @*<ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a>@Html.ActionLink("Start Page", "Index", "Home")</a></li>
                <li><a>@Html.ActionLink("Application Info", "About", "Home")</a></li>
                <li><a>@Html.ActionLink("Our contacts", "Contact", "Home")</a></li>

            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a>@Html.ActionLink("Start Page", "Index", "Home")</a></li>
                <li><a>@Html.ActionLink("Application Info", "About", "Home")</a></li>
                <li><a>@Html.ActionLink("Our contacts", "Contact", "Home")</a></li>
            </ul>*@
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
    </div>

    @*<footer class="page-footer teal">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">My ASP.NET Application</h5>
                        <p class="grey-text text-lighten-4">
                            You can use rows and columns here to organize your footer content.
                        </p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Sitemap</h5>
                        <ul>
                            <li>
                                <a class="grey-text text-lighten-3"
                                   href="#!">Link 1</a>
                            </li>
                            <li>
                                <a class="grey-text text-lighten-3"
                                   href="#!">Link 2</a>
                            </li>
                            <li>
                                <a class="grey-text text-lighten-3"
                                   href="#!">Link 3</a>
                            </li>
                            <li>
                                <a class="grey-text text-lighten-3"
                                   href="#!">Link 4</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="footer-copyright">
                <div class="container">
                    © 2018 Copyright Text
                    <a class="grey-text text-lighten-4 right"
                       href="#!">More Links</a>
                </div>
            </div>
        </footer>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Content/materializeJs")
    @RenderSection("scripts", required: false)

</body>
