@using Microsoft.AspNet.Identity



@if (Request.IsAuthenticated)
{
    <ul id="slide-out" class="side-nav fixed">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="images/office.jpg">
                </div>
                <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
                <a href="#!name"><span class="white-text name">John Doe</span></a>
                <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
            </div>
        </li>
        <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
        <li><a href="#!">Second Link</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">Subheader</a></li>
        <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

    @*<ul class="nav nav-pills nav-stacked">

            <span class="glyphicon glyphicon-search"></span>
            <li>@Html.ActionLink("Friends", "Index", "Home")</li>

            <span class="glyphicon glyphicon-envelope"></span>
            <li>@Html.ActionLink("Conversations", "About", "Home")</li>

            <span class="glyphicon glyphicon-camera"></span>
            <li>@Html.ActionLink("Photos", "Contact", "Home")</li>

            <span class="glyphicon glyphicon-file"></span>
            <li>@Html.ActionLink("Documents", "Contact", "Home")</li>

            <span class="glyphicon glyphicon-film"></span>
            <li>@Html.ActionLink("Videos", "Contact", "Home")</li>

        </ul>*@
}
else
{

}

<script>
      (function($){
        $(function(){

          $('.button-collapse').sideNav();

        }); // end of document ready
      })(jQuery); // end of jQuery name space
</script>
