@using Microsoft.AspNet.Identity



@if (Request.IsAuthenticated)
{
    <ul id="slide-out" class="side-nav fixed">
        <li>
            <div class="user-view">
                <div class="background red lighten-3">
                    @*<img src="~/Images/Mexico.jpg">*@
                </div>
                <img style="margin: auto" class="circle" src="~/Images/Cuba.jpg"/>
                <p style="text-align: center"><span class="black-text name">@User.Identity.GetUserName()</span></p>
                <p style="text-align: center"><span class="black-text email"> </span></p>
            </div>
        </li>
        <li><div class="divider"></div></li>
        <li><span><i class="small material-icons">account_circle</i>@Html.ActionLink(" My profile", "", "", new { area = "", @class = "waves-effect" }, null)</span></li>
        <li ><span><i class="small material-icons">person</i>@Html.ActionLink(" Friends", "Index", "Friend", new { area = "Friends", id = User.Identity.GetUserId().ToString(), @class = "waves-effect" }, null)</span></li>
        <li ><span><i class="small material-icons">question_answer</i>@Html.ActionLink(" Conversations", "Index", "Conversation", new { area= "Messages", @class = "waves-effect" }, null)</span></li>
        <li ><span><i class="small material-icons">local_library</i>@Html.ActionLink(" News", "", "", new { area= "", @class = "waves-effect" }, null)</span></li>
        <li ><span><i class="small material-icons">photo_library</i>@Html.ActionLink(" Photos", "Index", "Photo", new { area = "Documents", @class = "waves-effect" }, null)</span></li>
        <li><span><i class="small material-icons">video_library</i>@Html.ActionLink(" Videos", "Index", "Video", new { area = "Documents", @class = "waves-effect" }, null)</span></li>
        <li ><span><i class="small material-icons">description</i>@Html.ActionLink(" Documents", "Index", "UserDocument", new { area = "Documents", @class = "waves-effect" }, null)</span></li>

    </ul>
}

<script>
      (function($){
        $(function(){

          $('.button-collapse').sideNav();

        }); 
      })(jQuery); 
</script>
