<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Content/materialize")
</head>
<body>
    <ul class="nav nav-pills nav-stacked">

        <span class="glyphicon glyphicon-search"></span>
        <li>@Html.ActionLink("Friends", "Index", "Home")</li>

        <span class="glyphicon glyphicon-envelope"></span>
        <li>@Html.ActionLink("Conversations", "About", "Home")</li>

        <span class="glyphicon glyphicon-camera"></span>
        <li>@Html.ActionLink("Photos", "Contact", "Home")</li>

        <span class="glyphicon glyphicon-file"></span>
        <li>@Html.ActionLink("Documents", "Contact", "Home")</li>

        <span class="glyphicon glyphicon-film"></span>
        <li>@Html.ActionLink("Videos", "Contact", "Home")</li>

    </ul>
    <div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

